{% extends "base.html" %}
{% block content %}
<form action="add_item" method="POST" enctype="multipart/form-data" class="mt-6" id="add-item-form">
    {% csrf_token %}
    {{message|safe}}
    <h2>Add New Item</h2>
    <div class="form-group mt-3">
      <label for="serialno">Serial Number</label>
      <input type="text" name="serialno" class="form-control" placeholder="Enter Serial Number" required>
    </div>
    <div class="form-group mt-3">
      <label for="itemname">Item Name</label>
      <input type="text" name="itemname" class="form-control" placeholder="Enter Item Name" required>
    </div>
    <div class="form-group mt-3">
      <label for="itemdomain">Select Domain</label>
      <!-- domain ppl can add item of that domain only, lead and pm can add of any domain -->
      {% if user.domain %}
      <select class="form-control" name="itemdomain_display" disabled required>
        <option value="{{ user.domain }}" selected>{{ user.domain }}</option>
      </select>
      <input type="hidden" name="itemdomain" value="{{ user.domain }}">
    {% else %}
      <select class="form-control" name="itemdomain" required>
        <option value="Domain 1">Domain 1</option>
        <option value="Domain 2">Domain 2</option>
        <option value="Domain 3">Domain 3</option>
        <option value="Domain 4">Domain 4</option>
        <option value="Domain 5">Domain 5</option>
      </select>
    {% endif %}
    </div>
    <div data-mdb-input-init class="form-outline mt-3" style="width: 22rem;">
      <label class="itemqty" for="typeNumber">Quantity</label>
      <input min="0" name="itemqty" max="200" type="number" class="form-control" required />
  </div>
    <div class="custom-file mt-3">
      <label class="itemimg" for="itemimg">Image of the Item</label>
      <input name="itemimg" type="file" class="form-control" id="customFile" />
     </div>
     <p class="mt-2">Accepted Formats: jpeg, jpg, png</p>
     <button class="btn btn-primary" type="submit">Add Item</button>
  </form>
{% endblock %}
