{% extends "base.html" %}
{% block content %}
<h2 class="text-center mt-3">Add Product Managers and Leads</h2>
<form action="{% url 'Add_PM_Lead' %}" method="POST" class="mt-6" id="add-pmlead-form">
    {% csrf_token %}
   

    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle-fill me-2"></i> 
              <span>{{ message|safe }}</span>
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
   {% endfor %}
     </div>
   {% endif %}

    <div class="form-group mt-3">
      <label for="name">Name</label>
      <input type="text" name="first_name" class="form-control" placeholder="Enter Name" required>
    </div>

    <div class="form-group mt-3">
      <label for="roll">Roll Number</label>
      <input type="text" name="roll_number" class="form-control" placeholder="Enter Roll Number"  required>
    </div>

    <div class="form-group mt-3">
        <label for="mail">Email (@kct.ac.in)</label>
        <input type="email" name="email" class="form-control" placeholder="Enter Email Address"  required>
      </div>
    
    <div class="form-group mt-3">
        <label for="role">Select Role</label>
        <select class="form-control" name="role" required>
          <option value="Product Manager">Product Manager</option>
          <option value="Lead">Lead</option>
        </select>
      </div>

      <div class="form-group mt-3">
        <label for="roll">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Enter Username"  required>
      </div>

      <div class="form-group mt-3">
        <label for="pass">Password</label>
        <input type="text" name="password" class="form-control" placeholder="Enter Password"  required>
      </div>
     <button class="btn btn-primary mt-3" type="submit">Add Now</button>
  </form>

  
  <div class="mt-2 col-3" id="PmLeadsTable">
    {% if Leads %}
    <h3 class="text-center">Leads</h3>
    <div class="table-responsive">
    <table class="table table-bordered table-striped mt-3">
      <thead class="table-dark text-center">
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for Lead in Leads %}
        <tr>
          <td>{{ Lead.first_name }}</td>
          <td class="text-center">
            <a href="{% url 'edit_lead' Lead.id%}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'terminate_lead' Lead.id%}" class="btn btn-danger btn-sm">Terminate</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% endif %}
    {% if ProdManagers %}
    <h3 class="text-center mt-5">Product Managers</h3>
    <div class="table-responsive">
    <table class="table table-bordered table-striped mt-3">
      <thead class="table-dark text-center">
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for pm in ProdManagers %}
        <tr>
          <td>{{ pm.first_name }}</td>
          <td class="text-center">
            <a href="{% url 'edit_lead' pm.id%}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'terminate_lead' pm.id%}" class="btn btn-danger btn-sm">Terminate</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {%endif%}
  </div>
{% endblock %}