{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
  </head>
  <body>
    <div style="height: 80px;background-color:#1F2943;width:100%">
        <a href="/"><img class="mt-3" style="height:50px;width:150px;margin-left:80px" src="{%static 'img/logo_white_half.png' %}" alt=""></a>
        {%if user.is_authenticated%}
        <a href="{% url 'me' %}" style="position: absolute; right: 30px; top: 23px; color: white; text-decoration: none;">
          <span class="material-symbols-rounded" style="font-size: 36px;">account_circle</span>
      </a>
      {%endif%}
    </div>
    <button class="sidebar-menu-button">
      <span class="material-symbols-rounded">menu</span>
    </button>
    <aside class="sidebar">
      <header class="sidebar-header">
        <a href="/" class="header-logo">
          <img id="expandedLogo" src="{% static 'img/logo_white.png' %}" alt="Expanded Logo" style="height: 90px; width: 90px;" />
          <img id="collapsedLogo" src="{% static 'img/logo_white_square.png' %}" alt="Collapsed Logo" style="height: 46px; width: 46px; display: none;" />
        </a>        
        <button class="sidebar-toggler">
          <span class="material-symbols-rounded">chevron_left</span>
        </button>
      </header>
<!-- Nav Bar for Lead -->
      {% if user.is_authenticated and user.role == 'Lead' or user.role == 'Super User'%}
         <nav class="sidebar-nav">
    <ul class="nav-list primary-nav">
      <div class="UserStatus">
      <li class="nav-item">
        <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
          <span class="nav-label">Hi {{user.first_name}}!</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
          <span class="nav-label">Role: {{user.role}}</span>
        </a>
      </li>
    </div>
      <li class="nav-item">
        <a href="{% url 'viewitems' %}" class="nav-link">
          <span class="material-symbols-rounded">table</span>
          <span class="nav-label">View Items </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'add_item' %}" class="nav-link">
          <span class="material-symbols-rounded">add_box</span>
          <span class="nav-label">Add Item</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{%url 'search_student' %}" class="nav-link">
          <span class="material-symbols-rounded">search</span>
          <span class="nav-label">Search Student</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{%url 'borrow_requests_list' %}" class="nav-link">
          <span class="material-symbols-rounded">hail</span>
          <span class="nav-label">Borrow Requests</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'mark_return' %}" class="nav-link">
          <span class="material-symbols-rounded">check</span>
          <span class="nav-label">Mark as Returned</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'add_head'%}" class="nav-link">
          <span class="material-symbols-rounded">manage_accounts</span>
          <span class="nav-label">Add Domain Heads</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'Add_PM_Lead'%}" class="nav-link">
          <span class="material-symbols-rounded">manage_accounts</span>
          <span class="nav-label">Add PM or Lead</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'black_list'%}" class="nav-link">
          <span class="material-symbols-rounded">block</span>
          <span class="nav-label">Blacklist Student</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="material-symbols-rounded">database</span>
          <span class="nav-label">Inventory Statistics</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">
          <span class="material-symbols-rounded">logout</span>
          <span class="nav-label">Sign Out</span>
        </a>
      </li>
    </ul>
  </nav>
      {% endif %}
<!-- Nav Bar for PM -->
      {% if user.is_authenticated and user.role == 'Product Manager'%}
      <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
          <li class="nav-item">
            <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
              <span class="nav-label">Hi {{user.first_name}}!</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
              <span class="nav-label">Role: {{user.role}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'viewitems' %}" class="nav-link">
              <span class="material-symbols-rounded">table</span>
              <span class="nav-label">View Items </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'add_item' %}" class="nav-link">
              <span class="material-symbols-rounded">add_box</span>
              <span class="nav-label">Add Item</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'search_student' %}" class="nav-link">
              <span class="material-symbols-rounded">search</span>
              <span class="nav-label">Search Student</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{%url 'borrow_requests_list' %}" class="nav-link">
              <span class="material-symbols-rounded">hail</span>
              <span class="nav-label">Borrow Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="material-symbols-rounded">check</span>
              <span class="nav-label">Mark as Returned</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'add_head'%}" class="nav-link">
              <span class="material-symbols-rounded">manage_accounts</span>
              <span class="nav-label">Add Domain Heads</span>
            </a>
          </li>
          </li>
          <li class="nav-item">
            <a href="{% url 'black_list'%}" class="nav-link">
              <span class="material-symbols-rounded">block</span>
              <span class="nav-label">Blacklist Student</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="material-symbols-rounded">database</span>
              <span class="nav-label">Inventory Statistics</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <span class="material-symbols-rounded">logout</span>
              <span class="nav-label">Sign Out</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
<!-- Nav Bar for DH and DRH -->
      {% if user.is_authenticated %}
        {% if user.role == 'Domain Head' or user.role == 'Domain Resource Head'%}
        <nav class="sidebar-nav">
          <ul class="nav-list primary-nav">
            <li class="nav-item">
              <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
                <span class="nav-label">Hi {{user.first_name}}!</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
                <span class="nav-label">Role: {{user.role}}</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'viewitems' %}" class="nav-link">
                <span class="material-symbols-rounded">table</span>
                <span class="nav-label">View Items </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'add_item' %}" class="nav-link">
                <span class="material-symbols-rounded">add_box</span>
                <span class="nav-label">Add Item</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{%url 'search_student' %}" class="nav-link">
                <span class="material-symbols-rounded">search</span>
                <span class="nav-label">Search Student</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{%url 'borrow_requests_list' %}" class="nav-link">
                <span class="material-symbols-rounded">hail</span>
                <span class="nav-label">Borrow Requests</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="material-symbols-rounded">check</span>
                <span class="nav-label">Mark as Returned</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'black_list'%}" class="nav-link">
                <span class="material-symbols-rounded">block</span>
                <span class="nav-label">Blacklist Student</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="material-symbols-rounded">database</span>
                <span class="nav-label">Inventory Statistics</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">
                <span class="material-symbols-rounded">logout</span>
                <span class="nav-label">Sign Out</span>
              </a>
            </li>
          </ul>
        </nav>
        {% endif %}
      {% endif %}
<!-- Nav Bar for Student -->
      {% if user.is_authenticated and user.role == 'Student' %}
      <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
          <li class="nav-item">
            <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
              <span class="nav-label">Hi {{user.first_name}}!</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="background: none; color: #fff; pointer-events: none;">
              <span class="nav-label">Role: {{user.role}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'viewitems' %}" class="nav-link">
              <span class="material-symbols-rounded">table</span>
              <span class="nav-label">View Items </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'borrow_history' %}" class="nav-link">
              <span class="material-symbols-rounded">History</span>
              <span class="nav-label">Borrow History</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="tel:+91 9999999999" class="nav-link">
              <span class="material-symbols-rounded">phone</span>
              <span class="nav-label">Contact</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <span class="material-symbols-rounded">logout</span>
              <span class="nav-label">Sign Out</span>
            </a>
          </li>
        </ul>
        <!-- <ul class="nav-list secondary-nav">
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <span class="material-symbols-rounded">logout</span>
              <span class="nav-label">Sign Out</span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link dropdown-title">Sign Out</a></li>
            </ul>
          </li>
        </ul> -->
      </nav>
      {% endif %}
<!-- Nav Bar for not Authenticated -->
      {% if not user.is_authenticated%}
      <nav class="sidebar-nav">
        <ul class="nav-list primary-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <span class="material-symbols-rounded">home</span>
              <span class="nav-label">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="tel:+91 999999999" class="nav-link">
              <span class="material-symbols-rounded">phone</span>
              <span class="nav-label">Contact</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
    </aside>
    {%block content%}
    {%endblock%}
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="{%static 'js/script.js' %}"></script>
  </body>
</html>
