{% extends "base.html" %}
{% block content %}
<div class="borrow_history_container">
  <h1 class="text-center my-3">Borrow History</h1>
  <div class="container mt-4">
    {% if not pending_requests and not approved_requests and notrejected_requests %}
    <div class="alert alert-danger text-center" role="alert">
      No Borrow Requests Found!
    </div>
    {% endif %}

    {% if pending_requests %}
    <h2 class="text-center my-4">Pending Requests</h2>
    <hr data-content="Borrow History" class="hr-text">
    <div class="row justify-content-center">
      {% for request in pending_requests %}
      <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-header bg-dark text-white">
            <h5 class="card-title mb-0">Item: {{ request.borrow_itemname }}</h5>
          </div>
          <div class="card-body text-start">
            <p><strong>Serial Number: </strong> {{ request.borrow_serialno }}</p>
            <p><strong>Requested Quantity: </strong> {{ request.borrowqty }}</p>
            <p><strong>Domain: </strong> {{ request.borrow_itemdomain }}</p>
            <p><strong>Return Date: </strong> {{ request.borrow_returndate }}</p>
            <p>
              <strong>Request Date: </strong> {{ request.borrow_made_date_time }}
            </p>
            <p><strong>Status: </strong><span class="badge bg-warning">Pending</span></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if approved_requests %}
    <h2 class="text-center my-4">Approved Requests</h2>
    <div class="row justify-content-center">
      {% for request in approved_requests %}
      <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">Item: {{ request.borrow_itemname }}</h5>
          </div>
          <div class="card-body text-start">
            <p><strong>Serial Number: </strong> {{ request.borrow_serialno }}</p>
            <p><strong>Requested Quantity: </strong> {{ request.borrowqty }}</p>
            <p><strong>Domain: </strong> {{ request.borrow_itemdomain }}</p>
            <p><strong>Return Date: </strong> {{ request.borrow_returndate }}</p>
            <p>
              <strong>Request Date: </strong> {{ request.borrow_made_date_time }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if rejected_requests %}
    <h2 class="text-center my-4">Rejected Requests</h2>
    <div class="row justify-content-center">
      {% for request in rejected_requests %}
      <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-header bg-danger text-white">
            <h5 class="card-title mb-0">Item: {{ request.borrow_itemname }}</h5>
          </div>
          <div class="card-body text-start">
            <p><strong>Serial Number: </strong> {{ request.borrow_serialno }}</p>
            <p><strong>Requested Quantity: </strong> {{ request.borrowqty }}</p>
            <p><strong>Domain: </strong> {{ request.borrow_itemdomain }}</p>
            <p><strong>Return Date: </strong> {{ request.borrow_returndate }}</p>
            <p>
              <strong>Request Date: </strong> {{ request.borrow_made_date_time }}
            </p>
            <p class="font-italic">
              <strong>Rejection Reason: </strong>{{ request.rejection_reason }}
            </p>
            <p><strong>Rejected By: </strong> {{ request.rejectedby }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
  {% endblock %}