{% extends "base.html" %}
{% block content %}
<form action="{% url 'borrow_item' item.id %}" method="POST" class="mt-6" id="borrow-item-form">
    {% csrf_token %}
    <h2>Borrow Item</h2>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"> <strong></strong> Item Details</h4>
      <p class="mb-0"><strong>Selected Item: </strong>{{item.itemname}}</p>
      <p class="mb-0"><strong>Serial Number: </strong>{{item.serialno}}</p>
      <p class="mb-0"><strong>Quantity Available: </strong>{{item.itemqty}}</p>
      <p class="mb-0"><strong>Domain: </strong>{{item.itemdomain}}</p>
    </div>
    <div class="form-group mt-3">
      <!-- dummy input for  item details into POST -->
      <input type="text" name="borrow_serialno"  placeholder="Enter Serial Number" value="{{item.serialno}}" style="display: none;">
      <input type="text" name="borrow_itemname"  placeholder="Enter Item Name" value="{{item.itemname}}" style="display: none;">
      <select name="borrow_itemdomain" value="{{item.itemdomain}}" style="display: none;"></select>

      <label for="mobile">Mobile Number</label>
      <input type="tel" name="borrowermobile" class="form-control" placeholder="Enter Your Mobile Number" required>
    </div>
    <div class="form-group mt-3">
      <label for="reason">Reason for Borrowing</label>
      <textarea class="form-control" id="reason" name="borrowreason" rows="3" required></textarea>
    </div>
    <div data-mdb-input-init class="form-outline mt-3" style="width: 22rem;">
      <label class="itemqty" for="typeNumber">Quantity Needed</label>
      <input min="1" name="borrowqty" max="{{item.itemqty}}" type="number" class="form-control" required />
  </div>
  <div class="form-group mt-3">
    <label for="date">Return Date (Maximum 15 Days) (MM-DD-YYYY)</label>
    <input class="form-control" type="date" id="returndate" name="borrow_returndate" required>
  </div>
    
     <button class="btn btn-primary mt-2" type="submit">Submit Request</button>
  </form>

  <script>
    const dateInput = document.getElementById('returndate');
    const today = new Date();
    const futureDate = new Date();
    futureDate.setDate(today.getDate() + 15);
    
    const toDateString = (date) => {
      return date.toISOString().split('T')[0];
    };
  
    dateInput.min = toDateString(today);
    dateInput.max = toDateString(futureDate);
  </script>
{% endblock %}