{% extends "base.html" %}
{% block content %}
<form action="{% url 'new_borrow_request' %}" method="POST" class="mt-6" id="borrow-item-form">
    {% csrf_token %}
    <h2>Borrow Item</h2>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"> <strong></strong> Item Details</h4>
      <p class="mb-0"><strong>Selected Item: </strong>{{item.itemname}}</p>
      <p class="mb-0"><strong>Serial Number: </strong>{{item.serialno}}</p>
      <p class="mb-0"><strong>Quantity Available: </strong>{{item.itemqty}}</p>
      <p class="mb-0"><strong>Domain: </strong>{{item.itemdomain}}</p>
    </div>
    <div class="form-group mt-3">
      <!-- dummy input for  item details into POST -->
      <input type="text" name="borrower_userid" value="Filler user id" style="display: none;">
      <input type="text" name="borrower_name" value="Filler name" style="display: none;">
      <input type="text" name="borrower_roll" value="Filler roll" style="display: none;">
      <input type="text" name="borrow_serialno" value="{{item.serialno}}" style="display: none;">
      <input type="text" name="borrow_itemname" value="{{item.itemname}}" style="display: none;">
      <input type="text" name="borrow_itemdomain" value="{{item.itemdomain}}" style="display: none;">

      <label for="mobile">Mobile Number</label>
      <input type="tel" name="borrowermobile" class="form-control" placeholder="Enter Your Mobile Number" required>
    </div>
    <div class="form-group mt-3">
      <label for="reason">Reason for Borrowing</label>
      <textarea class="form-control" id="reason" name="borrowreason" rows="3" required></textarea>
    </div>
    <div data-mdb-input-init class="form-outline mt-3" style="width: 22rem;">
      <label class="itemqty" for="typeNumber">Quantity Needed</label>
      <input min="1" name="borrowqty" max="{{item.itemqty}}" type="number" class="form-control" required />
  </div>
  <div class="form-group mt-3">
    <label for="date">Return Date (Maximum 15 Days)</label>
    <input class="form-control" type="date" id="returndate" name="borrow_returndate" required>
  </div>
      <!-- borrow information -->
      <div class="container mt-3">
        <div class="alert alert-primary alert-dismissible fade show pt-0" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i> 
            <span>
              <p><strong>Please read the below conditions before placing the request</strong></p>
              <p class="mb-0">1. The Item Should be returned within the due date.
              <p class="mb-0">2. If you need the item even after the due date, Please renew the request within the due date.</p>
              <p class="mb-0">3. On Keeping the product after due date or damage to the product will leads to penalty.</p>
              <hr>
              <p class="mb-0">By submitting the request, You accept all the terms above.</p>
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     <button class="btn btn-primary my-2" type="submit">Submit Request</button>
  </form>

  <script>
    const dateInput = document.getElementById('returndate');
    const today = new Date();
    const futureDate = new Date();
    futureDate.setDate(today.getDate() + 15);
    
    const toDateString = (date) => {
      return date.toISOString().split('T')[0];
    };
  
    dateInput.min = toDateString(today);
    dateInput.max = toDateString(futureDate);
  </script>
{% endblock %}