{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper d-flex justify-content-center align-items-center flex-wrap" style="height: 80vh">
        <div class="col-sm-12 col-md-6">
            <center><p style="color:Black;">Kumaraguru Institutions </p>
                <H3 style="color:Black;">iQube Inventory Management</H3>
            </center>
            <br>
            <center><strong><h3>We <span class="change_content"></span></h3></strong></center>
            <br><br>
            <div class="container" style="height: 100%; display: flex; justify-content: center">
                        <br><br>
                        {% if not user.is_authenticated %}
                        <div class="col-sm-6" align="center">
                            <a class="btn btn-social btn-primary" href="#"
                               style="text-transform: none;">
                                <span class="fab fa-google"></span>
                                Sign in
                            </a>
                            <p class="h6 text-center mt-5 mb-1 text-dark">Inventory Management People?</p><a href="{%url 'login' %}" class="text-decoration-none mt-1" style="color: #2E96F3;">Click Here to Login</a>
                        </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }

        .g-sign-in-button {
            margin: 10px;
            display: inline-block;
            width: 240px;
            height: 50px;
            background-color: #4285f4;
            color: #fff;
            border-radius: 1px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
            transition: background-color .218s, border-color .218s, box-shadow .218s;
        }

        .g-sign-in-button:hover {
            cursor: pointer;
            -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
            box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
        }

        .g-sign-in-button:active {
            background-color: #3367D6;
            transition: background-color 0.2s;
        }

        .g-sign-in-button .content-wrapper {
            height: 100%;
            width: 100%;
            border: 1px solid transparent;
        }

        .g-sign-in-button img {
            width: 18px;
            height: 18px;
            vertical-align: top !important;
        }

        .g-sign-in-button .logo-wrapper {
            padding: 15px;
            background: #fff;
            width: 48px;
            height: 100%;
            border-radius: 1px;
            display: inline-block;
        }

        .g-sign-in-button .text-container {
            font-family: Roboto, arial, sans-serif;
            font-weight: 500;
            letter-spacing: .21px;
            font-size: 16px;
            line-height: 48px;
            vertical-align: top;
            border: none;
            display: inline;
            text-align: center;
            width: 180px;
        }


        .change_content:after {
            content: '';
            animation: changetext 3s infinite linear;
            color: #2196F3;
        }

        @keyframes changetext {
            0% {
                content: "Innovate";
            }
            33.3% {
                content: "Incubate";
            }
            66.6% {
                content: "Incorporate";
            }
            99.9% {
                content: "iQube";
            }

        }

    </style>
{% endblock %}
